.AboutPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, 200px) minmax(300px, 1fr) 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  .main-header {
    display: flex;
    font-weight: 100;
    width: 100%;
    .hi {
      font-size: 4rem;
      margin-left: 15%;
      width: max-content;
    }
    .bohdan {
      align-self: flex-end;
      height: max-content;
      width: max-content;
      font-size: 2rem;
      opacity: 0;
      transform-origin: top right;
      transform: translateY(-90%) rotate(-15deg);
      animation: fade-in 1.2s 1s ease-in-out forwards;
    }
  }

  .main-display {
    min-width: 320px;
    font-weight: 200;
    justify-self: center;
      .play-drums {
        display: inline-block;
        font-size: 1.5rem;
        line-height: 1.1;
        transform-origin: top left;
        transform: rotate(5deg) translateY(40%);
        opacity: 0;
        animation: fade-in 1.2s 2.5s ease-in-out forwards;
      }
      .click-me {
        @extend .play-drums;
        font-size: 1rem;
        animation: fade-in 1.2s 3.5s ease-in-out forwards;
      }
      .make-apps {
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        opacity: 0;
        animation: fade-in 1.5s 5s ease-in-out forwards;
        a {
          color: var(--primary-col);
          transition: color .3s;
          &:hover {
            color: var(--hover-col);
            cursor: pointer;
          }
        }
      }
      .drummer {
        float: left;
        padding-left: 13px;
        -webkit-clip-path: polygon(14px 142px, 16px 67px, 39px 39px, 63px 33px, 74px 0px, 121px 0px, 144px 56px, 101px 83px, 108px 144px, 162px 133px, 172px 164px, 195px 216px, 193px 247px, 34px 234px);
        clip-path: polygon(14px 142px, 16px 67px, 39px 39px, 63px 33px, 74px 0px, 121px 0px, 144px 56px, 101px 83px, 108px 144px, 162px 133px, 172px 164px, 195px 216px, 193px 247px, 34px 234px);
        shape-outside: polygon(14px 142px, 16px 67px, 39px 39px, 63px 33px, 74px 0px, 121px 0px, 144px 56px, 101px 83px, 108px 144px, 162px 133px, 172px 164px, 195px 216px, 193px 247px, 34px 234px);
        -webkit-shape-outside: polygon(14px 142px, 16px 67px, 39px 39px, 63px 33px, 74px 0px, 121px 0px, 144px 56px, 101px 83px, 108px 144px, 162px 133px, 172px 164px, 195px 216px, 193px 247px, 34px 234px);
        shape-margin: 10px;
        transition: filter .5s;
        opacity: 0;
        animation: slide-in 1s 2s ease-out forwards;
        &:hover {
          cursor: pointer;
          filter: brightness(.7) sepia(60%);
        }
        &:focus {
          filter: brightness(.7) sepia(60%);
          outline: none;
        }
      }
    }

  .disclaimer {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  body {
    background: #fff;
  }

  .AboutPage {
    grid-template-rows: 80px 1fr 90px;
    .main-header {
      justify-content: space-around;
      width: 60%;
      .hi {
        font-size: 2.2rem;
      }
      .bohdan {
        font-size: 1.6rem;
        transform: rotate(-5deg);
      }
    }

    .main-display {
      .play-drums {
        font-size: 1.3rem;
      }
      .click-me {
        font-size: .9rem;
      }
      .make-apps {
        bottom: 80px;
        padding-right: 20px;
        text-align: right;
        font-size: 1.4rem;
      }
      .drummer {
        height: 170px;
        float: left;
        padding-top: 13px;
        -webkit-clip-path: none;
        clip-path: none;
        shape-outside: none;
        -webkit-shape-outside: none;
        shape-margin: 0;
      }
    }
    .disclaimer {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 768px) {
  .AboutPage {
    grid-template-rows: minmax(100px, 200px) minmax(300px, 1fr) 50px;
    .main-header {
      .bohdan {
        font-size: 2rem;
      }
    }
    .main-display {
      .play-drums {
        font-size: 2rem;
        transform: rotate(5deg);
      }
      .click-me {
        font-size: 1.2rem;
      }
      .make-apps {
        bottom: 80px;
        font-size: 2rem;
      }
      .drummer {
        height: 500px;
        shape-outside: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
        -webkit-shape-outside: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
        clip-path: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
        -webkit-clip-path: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
      }
    }

    .disclaimer {
      font-size: 1rem;
    }
  }
}

@media (orientation: landscape) and (min-width: 768px){
  .AboutPage {
    .main-display {
      .drummer {
        height: 400px;
        shape-outside: polygon(13px 226px, 16px 101px, 56px 58px, 96px 52px, 117px -1px, 189px -2px, 229px 90px, 155px 137px, 165px 227px, 257px 213px, 273px 267px, 314px 355px, 312px 400px, 50px 385px);
        -webkit-shape-outside: polygon(13px 226px, 16px 101px, 56px 58px, 96px 52px, 117px -1px, 189px -2px, 229px 90px, 155px 137px, 165px 227px, 257px 213px, 273px 267px, 314px 355px, 312px 400px, 50px 385px);
        clip-path: polygon(0px 0px, 312px 0px, 312px 400px, 0px 400px);
        -webkit-clip-path: polygon(0px 0px, 312px 0px, 312px 400px, 0px 400px);
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 1281px){
  .AboutPage {
    .main-display {
      .drummer {
        height: 500px;
        shape-outside: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
        -webkit-shape-outside: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
        clip-path: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
        -webkit-clip-path: polygon(14px 283px, 19px 129px, 69px 72px, 118px 63px, 151px 1px, 226px 0px, 282px 110px, 187px 172px, 206px 293px, 319px 269px, 336px 341px, 390px 445px, 379px 498px, 59px 479px);
      }
    }
  }
}