.Header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  z-index: 10;
  .nav-button {
    @extend .icon;
    color: var(--primary-col);
    padding: .2em 1em;
    font-weight: 500;
    transition: color .2s ease-in-out;
    &:hover {
      color: var(--hover-col);
    }
    &[aria-pressed="true"] {
      box-shadow: var(--inset-shadow);
    }
  }
}

