.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .15rem;
  z-index: 10;
  &.open {
    padding: .5rem;
    background: rgba(111, 111, 143, 0.7);
    width: calc(var(--grid-width) * 5);
    height: calc(var(--grid-height) * 9);
    justify-content: space-between;
    align-items: flex-start;
  }
  button {
    appearance: none;
    -webkit-appearance: none;
    background: #fff;
    border: none;
    padding: .15rem;
  }
  .icon {
    margin: 0 5px;
    padding: 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    cursor: pointer;
    background: #fff;
    &[aria-checked="true"] {
      box-shadow: var(--inset-shadow);
    }
    svg {
      width: .5rem;
      height: .5rem;
      fill: var(--primary-col);
      transition: fill .2s ease-in-out;
      &:hover {
        fill: var(--hover-col);
      }
    }
  }
  .MainNav {
    display: flex;
    justify-content: flex-end;
    &.open {
      height: calc(var(--grid-height) * 4);
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .nav-button {
        margin-bottom: 10px;
        width: 2rem;
      }
    }
    .nav-button {
      @extend .icon;
      width: .5rem;
      height: .5rem;
      display: flex;
      align-items: center;;
      text-decoration: none;
      color: var(--primary-col);
      font-size: 0.3rem;
      line-height: 1;
      padding: 0 .15rem;
      width: min-content;
      transition: color .2s ease-in-out;
      &:hover {
        color: var(--hover-col);
      }
      &[aria-pressed="true"] {
        box-shadow: var(--inset-shadow);
      }
    }
  }
}

@media (max-width: 650px) {
  .Header {
    .MainNav {
      display: none;
      }
    .MainNav.open {
      display: flex;
    }
  }
}

@media (min-width: 650px) {
  .hamburger {
    display: none;
  }
}