.projects-page {
  grid-auto-rows: minmax(var(--grid-height), auto);
  .title {
    font-size: .5rem;
    font-weight: 300;
    grid-area: 2 / 1 / 3 / span 5;
  }
  .filter {
    grid-column: 1 / -1 ;
    grid-row-start: 3;
    .filter__label {
      font-size: .25rem;
      .filter__select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: transparent;
        font-family: inherit;
        font-size: .2rem;
        padding: .2rem;
        color: var(--opposite-col);
      }
    }
  }
  .projects-container {
    grid-column: 1 / -1 ;
    grid-row-start: 4;
    display: grid;
    grid-gap: 10px;
    padding: 0 .1rem .25rem;
    .project {
      border-radius: 5px;
      box-shadow: var(--shadow);
      padding: .25rem;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-areas:
        'title title links'
        'img img img'
        'description description description'
        'tech tech nav';
      grid-gap: 5px;
      align-items: start;
      .project__title {
        font-size: .5rem;
        text-align: center;
        grid-area: title;
        justify-self: start;
        margin: 0;
      }
      .project__img {
        grid-area: img;
        width: 100%;
        max-width: 800px;
        height: auto;
      }
      .project__description {
        font-size: 0.25rem;
        grid-area: description;
      }
      .project__technologies {
        font-size: 0.2rem;
        grid-area: tech;
        span {
          font-style: italic;
          font-weight: 600;
        }
      }
      .project__links {
        justify-self: end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-area: links;
        .project__link {
          font-size: 0.2rem;
          margin: 0 5px;
        }
      }
      .project__nav {
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}