.SkillsPage {
  grid-auto-rows: minmax(var(--grid-height), auto);
  .skills-header {
    font-size: 0.5rem;
    font-weight: 300;
    grid-area: 2 / 1 / 3 / span 5;
  }
  .skills {
    font-size: 0.25rem;
    grid-column: 1 / span 5;
    grid-row-start: 3;
    margin: 0 .5rem .5rem;
    .trails-p {
      margin-bottom: .25rem;
      text-align: justify;
      text-align-last: left;
    }
  }
}