:root {
  --primary-col: #000;
  --secondary-col: #ffa600;
  --ternary-col: #7509b3;
  --ternary-light-col: #8914cc;
  --hover-col: #b37a12;
  --flash-col: #19ff85;
  --opposite-col: #004fb3;
  --opposite-light-col: #0070ff;
  --shadow:
    -3px -3px 5px rgba(255,255,255, .8),
    3px 3px 5px rgba(111, 111, 143, .5);
  --inset-shadow:
    inset -3px -3px 5px rgba(255,255,255, .8),
    inset 3px 3px 5px rgba(111, 111, 143, .5);
}