$primary-col: #000;
$secondary-col: #ffa600;
$ternary-col: #7509b3;
$ternary-light-col: #8914cc;
$hover-col: #b37a12;
$flash-col: #19ff85;
$opposite-col: #004fb3;
$opposite-light-col: #0070ff;
$base-font-size: 16px;